body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    justify-content: center;
}

header{
    width: 1280px;
    border-bottom: 1px solid #31AFB4;
   
}
.topo{
    display: flex;
    justify-content: space-between;
}

.logoTop{
    display: flex;
    align-items: center;
}

.menuTop{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menuTop ul{
    display: flex;
}

.menuTop ul li{
    list-style: none;
}

.menuTop li a{
    padding: 15px;
    text-decoration: none;
    color: #115571;
    
}
.menuTop a:hover{
    background-color: #31AFB4;
    color: white;
}


#backImage{
    margin-top: 10px;
    background-image: url('../images/fundo-craque.png');
    /*background: rgb(30,224,255);
background: linear-gradient(153deg, rgba(30,224,255,1) 0%, rgba(16,84,249,0.5555264342064952) 58%, rgba(0,212,255,0.5359185910692401) 100%);*/
    background-position: center;
    background-size: cover;
    height: 900px;
}

.conteudoWallpaper{
}


.imageTop{
    background-image: url('/images/montagem-design.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    height: 80vh;
    width: 40vw;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.option1,
.option2,
.option3{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.option1{
    display: flex;
    background-color: rgba(255, 2, 102,0.8);
}
.option2{
    background-color: rgba(255, 117, 151,0.9);
}
.option3{
    background-color: rgba(52, 43, 45, 0.95);
}

.option1 p{
    font-size: 20px;
    text-align: center;
    color: white;
}
.option2 p{
    font-size: 20px;
    text-align: center;
    color: white;
}
.option3 p{
    font-size: 20px;
    text-align: center;
    color: white;
}

.titleOption1,
.titleOption2,
.titleOption3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: bold;  
}

.titleOption2{
    color: #D71386;
}

.titleOption3{
    color: white;
}

.topWallpaper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botWallpaper{
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#conteudo{
    display: flex;
    background-color: rgba(164, 134, 184,0.15);
}
.fraseEfeito{
    text-align: center;
    margin: 0;
}
.fraseEfeito h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 65px;
    text-shadow: 1px 1px black;
    line-height: 60px;
    margin-bottom: 60px;
}

.frase{
    font-size: 23px;
    text-align: center;
    text-shadow: 0.07vh 0.07vh black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}
.botaoIniciar{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.botaoIniciar a{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FC3082;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 0.1vh solid rgba(52, 43, 45, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.botaoIniciar a:hover{
    background: rgb(253,128,160);
background: linear-gradient(48deg, rgba(253,128,160,1) 4%, rgba(252,48,130,1) 97%);
    color: white;
}



#rodape{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: white;
    background-color: #3D3436;
}


















